# Android / Gradle
.gradle/
build/
*/build/
**/build/
gradle-app.setting
.artifacts
.idea
.idea_backup
build.gradle.kts
dev_server.log
dev_server_err.log
gradle.properties

# Keystore / Secrets
*.jks
*.keystore
*.p12
*.key
local.properties
.env
.env.*
!.env.example
google-services.json
.env.example
gradlew.bat
# Native Build
.externalNativeBuild/
.cxx/
settings.gradle.kts

# Kotlin
.kotlin/

# OS / Temporary
.DS_Store
Thumbs.db
captures/
*.log
.artifacts/

# Project Specific
bun.lock
node_modules/
